.v-theme--michelin{
  .v-radio-group{

    .v-selection-control{
      &.v-selection-control--disabled{
        opacity: 1;
        color: #999;
        .v-icon{
          color: #999;
        }
      }
      &.v-selection-control--dirty:not(.v-selection-control--disabled){
        .v-icon{
          color: #27509B;
        }
      }
      &:not(.v-selection-control--dirty):not(.v-selection-control--disabled){
        .v-icon{
          color: #000;
          opacity: 1;
        }
      }
      .v-selection-control__input:hover::before{
        opacity: 0.08;
      }
    }

  }
}
