.v-theme--michelin{

  .v-expansion-panels {
   .v-expansion-panel:not(:first-child) {
      margin-top: 8px;
    }
    &:not(.v-expansion-panels--variant-accordion) > :first-child:not(:last-child):not(.v-expansion-panel--active):not(.v-expansion-panel--before-active) {
      border-radius: 4px!important;
    }
    &:not(.v-expansion-panels--variant-accordion) > :not(:first-child):not(:last-child):not(.v-expansion-panel--active):not(.v-expansion-panel--after-active) {
      border-radius: 4px!important;
    }
    &:not(.v-expansion-panels--variant-accordion) > :last-child:not(:first-child):not(.v-expansion-panel--active):not(.v-expansion-panel--after-active) {
      border-radius: 4px!important;
    }
  }
  .v-expansion-panel {

    &:not(:first-child)::after {
      border-color: transparent;
    }

    .v-expansion-panel-title {
      min-height: 56px;
      font-size: 16px;
      padding: 16px;
      color: #1A1A1A;
    }

    .v-expansion-panel-title:hover > .v-expansion-panel-title__overlay {
      opacity: 1;
    }

    .v-expansion-panel-title__overlay {
      background-color: #F2F2F2
    }

    .v-custom-pannel__title {
      color: #1A1A1A;
      position: relative;
      z-index: 1;
    }

    .v-expansion-panel-title--active {
      min-height: 72px !important;
    }

    .v-expansion-panel-text__wrapper {
      padding: 8px 16px 16px;
      color: #1A1A1A;
    }

    .v-expansion-panel__shadow {
      box-shadow: none;
    }
  }

  .v-expansion-panels--variant-accordion {
    .v-expansion-panel:not(:first-child)::after {
      border-color: transparent;
    }

    .v-expansion-panel__shadow {
      box-shadow: 0px 1px 3px 0px rgba(16, 24, 40, 0.06), 0px 1px 2px -1px rgba(16, 24, 40, 0.06);
    }

    &>:not(:first-child):not(:last-child) {
      border-radius: 4px !important;
    }

    &>:first-child:not(:last-child) {
      border-radius: 4px !important;
    }

    &>:last-child:not(:first-child) {
      border-radius: 4px !important;
    }
  }
}
