.hc-filter {
  .v-expansion-panel-title {
    font-size: 20px !important;
    font-weight: 600;
  }

  .filter-container {
    display: grid;
    gap: 12px 24px;
    
    // 默认情况下（≥1000px）显示4列
    grid-template-columns: repeat(4, 1fr);
    
    // 中等屏幕（500px < x < 1000px）显示3列
    @media (max-width: 999px) and (min-width: 501px) {
      grid-template-columns: repeat(3, 1fr);
    }
    
    // 小屏幕（≤500px）显示2列
    @media (max-width: 500px) {
      grid-template-columns: repeat(2, 1fr);
    }
    
    .v-input__control {
      background-color: #fff;
    }
    .v-input--error.v-text-field .v-input__details {
      min-height: 14px !important;
      align-items: flex-start;
      overflow: visible;
    }
  }

  .filter-btns {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    margin-top: 12px;
    .v-btn--variant-outlined {
      background-color: #fff;
    }
  }
} 