.hc-filter {
  .v-expansion-panel-title {
    font-size: 20px !important;
    font-weight: 600;
  }

  .filter-container {
    display: grid;
    gap: 12px 24px;
    
    .v-input__control {
      background-color: #fff;
    }
    .v-input--error.v-text-field .v-input__details {
      // height: 22px !important;
      align-items: flex-start;
      overflow: visible;
    }
  }

  .filter-btns {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    .v-btn--variant-outlined {
      background-color: #fff;
    }
  }
} 