@mixin light {
  &.v-autocomplete {
    --v-input-control-height: 44;

    .v-field__input {
      flex-wrap: nowrap !important;
      overflow-x: scroll;

      &::-webkit-scrollbar {
        height: 0;
      }
    }

    .v-field--variant-outlined {
      .v-chip.v-chip--variant-tonal {
        max-width: 150px;

        .v-chip__underlay {
          color: #f2f2f2;
          opacity: 1;
        }

        .v-chip__content {
          color: #1a1a1a;
          font-size: 14px;
          z-index: 1;
          text-overflow: ellipsis;
          display: inline-block;
        }

        .v-chip__close {
          .v-icon {
            color: #1a1a1a;
          }
        }
      }
    }

    // 禁用时输入框的样式
    .v-field--disabled {
      .v-chip.v-chip--variant-tonal {
        .v-chip__underlay {
          color: var(--Surface-mask-2) !important;
        }

        .v-chip__content {
          color: var(--Text-disabled) !important;
        }
      }
    }

    // 输入框文本样式
    .v-field__field {
      opacity: 1 !important;

      input {
        font-weight: 400 !important;
        caret-color: var(--Border-secondary);
      }
    }

    .v-autocomplete__content {
      .v-list {
        background: #fff;

        .v-list-item--active {
          .v-selection-control__input>.v-icon {
            color: #27509b !important;
          }
        }

        .v-list-item--density-default:not(.v-selection-control--dirty) {
          .v-selection-control__input>.v-icon {
            color: #1a1a1a;
            opacity: 1 !important;
          }
        }

        .v-list-item {
          background: #fff;
        }
      }
    }

    // select的时候，input取消光标
    &.v-autocomplete--input-disable {
      input {
        caret-color: transparent !important;
      }
    }
  }
}