@mixin light {
  &.v-autocomplete {
    --v-input-control-height: 44;

    .v-field__input {
      flex-wrap: nowrap !important;
      overflow-x: scroll;
      padding-right: 8px !important;

      input {
        opacity: 1 !important;
      }

      &::-webkit-scrollbar {
        height: 0;
      }
    }

    .v-field--variant-outlined {
      .v-chip {
        max-width: 100px;

        &.v-chip--variant-tonal {
          .v-chip__underlay {
            color: #f2f2f2;
            opacity: 1;
          }
        }

        .v-chip__content {
          color: #1a1a1a;
          font-size: 14px;
          z-index: 1;
          text-overflow: ellipsis;
          display: inline-block;
        }

        .v-chip__close {
          .v-icon {
            color: #1a1a1a;
          }
        }
      }
    }

    .v-autocomplete__selection,
    .v-field__clearable,
    .v-field__append-inner,
    .v-field__prepend-inner,
    .v-input__prepend,
    .v-input__append {
      color: #666 !important;
    }

    // 输入框文本样式
    .v-field__field {
      opacity: 1 !important;

      input {
        font-weight: 400 !important;
        caret-color: var(--Border-secondary);
      }
    }

    // 禁用时输入框的样式
    .v-field--disabled {
      .v-autocomplete__selection {
        color: var(--Text-disabled) !important;
      }
    }

    .v-autocomplete__content {
      .v-list {
        background: #fff;

        .v-list-item--active {
          .v-selection-control__input>.v-icon {
            color: #27509b !important;
          }
        }

        .v-list-item--density-default:not(.v-selection-control--dirty) {
          .v-selection-control__input>.v-icon {
            color: #1a1a1a;
            opacity: 1 !important;
          }
        }

        .v-list-item {
          background: #fff;
        }
      }
    }

    // select的时候，input取消光标
    &.v-autocomplete--input-disable {
      input {
        caret-color: transparent !important;
      }
    }

    // 错误时的边框样式
    &.v-autocomplete--has-input.v-input--error {
      .v-field__clearable {
        opacity: 1 !important;
        margin-right: 8px !important;

        .v-icon--clickable {
          color: var(--Text-red-status) !important;
        }
      }

      .v-field__outline {
        color: var(--Border-error) !important;
      }
    }

    // 输入状态时、上下箭头样式
    &.v-autocomplete--has-input,
    .v-field--focused {
      .v-autocomplete__menu-icon {
        color: #1a1a1a !important;
      }
    }

    // 输入框有值时
    &.v-autocomplete--has-input {
      .v-field__clearable {
        margin-left: 0 !important;
        margin-right: 8px !important;
      }

      .v-field__outline__notch {
        .v-label.v-field-label--floating {
          color: var(--Text-default) !important;
          font-size: var(--Size-Annotation) !important;
        }
      }

      // 禁用时样式
      .v-field--disabled {
        .v-label.v-field-label--floating {
          color: var(--Text-disabled) !important;
        }

        // chip，多选
        .v-chip__underlay {
          color: var(--Surface-mask-2) !important;
        }

        .v-chip__content {
          color: var(--Text-disabled) !important;
        }
      }
    }
  }
}