@mixin light {
  // Outlined field styles
  .v-field--variant-outlined {
    min-height: 44px;
  
    // 默认时的边框样式
    .v-field__outline {
      color: var(--Border-control);
      --v-field-border-opacity: 1 !important;
    }

    // hover时边框样式
    &:hover {
      .v-field__outline {
        color: var(--Border-grey);
      }
    }

    .v-field__input {
      min-height: 44px !important;
      font-size: 16px !important;
      padding: 8px 12px!important;
      color: var(--Text-default) !important;
      column-gap: 6px !important;
      opacity: 1;
    }

    &:has(.v-text-field__suffix) {
      .v-field__input {
        padding-right: 8px !important;
      }
    }

    &:not(:has(.v-text-field__suffix)){
      &:has(.v-field__append-inner), &:has(.v-field__clearable) {
        .v-field__input {
          padding-right: 0 !important;
        }
      }
    }

    // 默认时label的样式
    .v-label.v-field-label {
      color: var(--Text-grey-1) !important;
    }

    &.v-field--focused, &.v-field--dirty {
      .v-label.v-field-label {
        color: var(--Text-default) !important;
      }
    }

    .v-label {
      opacity: 1 !important;
    }

    // 禁用时文本框样式
    &.v-field--disabled {
      // 禁用时的边框样式
      opacity: 1 !important;
      
      .v-field__input {
        opacity: 1 !important;
        color: var(--Text-disabled) !important;
      }

      // 禁用时label的样式
      .v-label.v-field-label {
        color: var(--Text-disabled) !important;
      }
      
      .v-field__clearable,
      .v-field__append-inner,
      .v-field__prepend-inner{
        .v-icon {
          color: var(--Icon-disabled) !important;
        }
      }
    }

    // 输入状态时
    // 输入框、选择框 边框颜色、宽度; label滑到顶上的颜色、字号
    &.v-field--focused {
      .v-field__outline {
        color: var(--Border-secondary) !important;
        --v-field-border-width: 2px !important;

        .v-field__outline__notch {
          .v-label.v-field-label--floating {
            font-size: var(--Size-Annotation) !important;
          }
        }
      }
    }

    // 清除图标的样式
    // append图标样式
    .v-field__clearable .v-icon--clickable,
    .v-field__prepend-inner .v-icon,
    .v-field__append-inner .v-icon {
      font-size: var(--hc-icon-size-20);
      color: var(--Icon-default);
      opacity: 1;
      margin: 0 !important;
    }

    .v-field__clearable {
      margin: 0 !important;
      margin-left: 8px !important;
    }
    .v-field__append-inner {
      gap: 8px;
      .v-icon:first-child {
        margin-left: 8px !important;
      }
    }
  }

  // Autofill styles
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    -webkit-text-fill-color: inherit !important;
    transition: background-color 5000s ease-in-out 0s;
  }

  .v-input__control {
    margin-bottom: 0 !important;
  }

  &.v-input--error {
    .v-field__outline__notch {
      .v-label.v-field-label--floating {
        color: var(--Text-red-status) !important;
      }
    }
  }
}