@mixin common {
  .v-tabs,
  .hc-tabs {
    &--stacked {
      .v-slide-group__container {
        flex: none;
      }

      .v-btn__prepend {
        margin-right: 0px !important;
        margin-bottom: 0px;
      }
    }

    &--density-default {
      &.v-tabs--stacked {
        --v-tabs-height: 56px;
      }
    }

    &--density-default {
      --v-tabs-height: 56px;
    }

    .v-slide-group__prev--disabled {
      color: #999999 !important;
      // opacity: 1 !important;
    }

    .v-slide-group__prev,
    .v-slide-group__next {
      .v-icon {
        color: #1a1a1a;
      }
    }

    .v-slide-group__container {
      background-color: #ffffff;

      .v-btn--size-default {
        padding: 0;
      }
      
      .v-btn__prepend {
        margin-inline: 0 !important;
      }

      .v-btn {
        padding: 0 16px;
        font-size: 14px;
        font-weight: 600;
        min-width: auto;
        letter-spacing: 0;

        &__prepend {
          margin-right: 8px !important;

          .v-icon {
            width: 24px;
            font-size: 24px;
          }
        }
      }

      .v-btn--variant-text {
        color: #1a1a1a;

        .v-btn__overlay {
          background-color: transparent !important;
        }

        .v-ripple__container {
          z-index: -1;
          .v-ripple__animation {
            background-color: #e5e5e5;
          }
        }
      }

      .v-btn--variant-text:hover {
        background-color: #f2f2f2;
        color: #1a1a1a;
      }

      .v-btn--variant-text:active {
        background-color: #e5e5e5;
      }

      .v-tab--selected {
        color: #27509b;
      }

      .v-tab__slider {
        background-color: #27509b;
      }

      .v-btn--disabled {
        background-color: #ffffff !important;
        color: #999999 !important;
      }
    }
  }
}

.v-slide-group__next {
  position: relative;
  flex: 0 1 128px;
  &::before {
    content: "10";
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    font-size: 12px;
    height: 20px;
    min-width: 20px;
    padding: 4px 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    min-width: 20px;
    padding: 4px 6px;
    background-color: #27509b;
    box-sizing: border-box;
    border-radius: 10px;
    color: #ffffff;
  }
  .v-icon {
    position: relative;
    right: -16px;
  }
}

@mixin light {
  &.v-tab {
    .v-badge--inline {
      .v-badge__wrapper {
        margin: 0;
      }
    }
  }
}
