@mixin light {
  &.v-textarea {
    .v-field--variant-outlined {
      .v-label.v-field-label {
        top: 12px;
      }

      .v-field__append-inner,
      .v-field__clearable,
      .v-text-field__suffix,
      .v-text-field__prefix {
        padding-top: 12px !important;
      }
      
      // 输入框文本样式
      .v-field__field {
        opacity: 1 !important;

        .v-field__input {
          padding-top: 12px !important;
          padding-bottom: 12px !important;
          mask-image: none;
          font-weight: 400 !important;
          color: var(--Text-default);
          caret-color: var(--Border-secondary);
  
          &::placeholder {
            color: var(--Text-grey-1);
          }
        }
      }
    }

    .v-input__details {
      .v-counter {
        line-height: 12px;
        color: var(--Text-grey-1);
      }

      .v-messages {
        opacity: 1;
      }
    }
  }
}