.v-theme--michelin {
  .v-switch {
    .v-selection-control--dirty {
      .v-switch__track {
        background-color: #27509B;
        opacity: 1;
      }
    }

    &__thumb {
      width: 24px;
      height: 24px;
    }

    &--inset {
      .v-switch__thumb {
        transform: unset;
      }
    }
  }
}
