.v-theme--michelin{
  .v-alert{
    .v-alert-title{
      font-size: 16px;
      font-weight: 600;
      color: #1A1A1A;
    }
    .v-alert__content{
      font-size: 14px;
      font-weight: 400;
      color: #1A1A1A;
    }
    .v-alert__close .v-btn{
      color: #000;
    }
    &--variant-tonal{
      &.text-success{
        background: #E8F5E5;
        border: 1px solid #2E7D32;
      }
      &.text-warning{
        background: #FFF1CE;
        border: 1px solid #9E6100;
      }
      &.text-info{
        background: #D9E3F7;
        border: 1px solid #4271D6;
      }
      &.text-error{
        background: #F4CEC2;
        border: 1px solid #B71C1C;
      }
    }
  }
}
