.table-toolbar {
  display: flex;
  padding: 8px 12px;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  align-self: stretch;
  border-radius: 3px;
  background: #D9E3F7;
}

.table-toolbar-left {
  display: flex;
  align-items: center;
}

.table-toolbar-right {
  display: flex;
  align-items: center;
}