.hc-wheel-schema{
  width: 340px;
  margin: 0 auto;
  .wheel-table{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
  .split-line{
    margin: 16px 0;
  }
  .spare-list{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
    align-items: center;
    > * {
      flex: 0 0 auto;
      width: auto;
      display: flex;
      justify-content: center;
    }
  }
  .wheel-row{
    width: 100%;
    display: flex;
    column-gap: 8px;
    .tire-section{
      width: 109px;
      display: flex;
      column-gap: 12px;
      &:last-child{
        justify-content: flex-end;
      }

    }
    .wheel-axle{
      flex: 1;
    }
  }
  .tire-wheel{
    width: 48px;
    height: 80px;
    border-radius: 6px;
    background: #4D4D4D;
    &.is-spare{
      width: 80px;
      height: 48px;
    }
  }
  .wheel-axle{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .recommend-text{
      color: #4D4D4D;
      font-size: 14px;
      text-align: center;
      line-height: 16px;
      padding: 2px 3px 0 3px;
    }
    .recommend-icon{
      height: 16px;
      width: 16px;
      display: flex;
    }
    .wheel-axle-img{
      height: 45px;
      width: 100%;
    }
  }
  &.size-medium{
    width: 88px;
    .wheel-table{
      row-gap: 8px;
    }
    .wheel-row{
      column-gap: 2px;
      height: 24px;
    }
    .tire-section{
      width: 30px;
      column-gap: 2px;
    }

    .wheel-axle{
      .wheel-axle-img{
        height: 10px;
        width: 24px !important;
        display: flex;
      }
    }
    .tire-wheel{
      width: 14px !important;
      height: 24px !important;
      border-radius: 2px !important;
      &.is-spare{
        width: 24px !important;
        height: 14px !important;
      }
    }
    .split-line{
      display: none;
    }
    .spare-list{
      margin-top: 8px;
      column-gap: 4px;
    }
  }
  &.size-small{
    width: 80px;
    .wheel-table{
      row-gap: 4px;
    }
    .wheel-row{
      column-gap: 2px;
      height: 18px;
    }
    .tire-section{
      width: 26px;
      column-gap: 2px;
    }

    .wheel-axle{
      .wheel-axle-img{
        height: 10px;
        width: 24px !important;
        display: flex;
      }
    }
    .tire-wheel{
      width: 12px !important;
      height: 18px !important;
      border-radius: 2px !important;
      &.is-spare{
        width: 18px !important;
        height: 12px !important;
      }
    }
    .split-line{
      display: none;
    }
    .spare-list{
      margin-top: 4px;
      column-gap: 2px;
    }
  }
}
