.hc-checkbox-group {
  display: flex;
  flex-direction: column;
  // gap: 8px;

  &.checkbox-group--horizontal {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .v-checkbox-btn {
    margin-bottom: 8px;
  }

  .v-input__details,
  .__web-inspector-hide-shortcut__ {
    height: 0;
    min-height: 0;
  }
}
