// Michelin Blue
$prim-color-blue: #27509B !default;
$prim-color-blue-darken-03: #3A61A6 !default;
$prim-color-blue-darken-02: #6182BB !default;
$prim-color-blue-darken-01: #87A4D0 !default;
$prim-color-blue-lighten-03: #AEC5E5 !default;
$prim-color-blue-lighten-02: #C1D6EF !default;
$prim-color-blue-lighten-01: #D4E7FA !default;
$prim-color-blue-40: rgba(39, 80, 155, 0.4) !default;

// Michelin Yellow
$prim-color-yellow: #FCE500 !default;
$prim-color-yellow-darken03: #FCE817 !default;
$prim-color-yellow-darken02: #FDED44 !default;
$prim-color-yellow-darken01: #FDF271 !default;
$prim-color-yellow-lighten03: #FEF79E !default;
$prim-color-yellow-lighten02: #FEF9B4 !default;
$prim-color-yellow-lighten01: #FEFCCB !default;

// Neutral
$mds-prim-color-white: #FFFFFF !default;
$mds-prim-color-grey50: #F2F2F2 !default;
$mds-prim-color-grey100: #E5E5E5 !default;
$mds-prim-color-grey200: #CCCCCC !default;
$mds-prim-color-grey300: #B2B2B2 !default;
$mds-prim-color-grey400: #999999 !default;
$mds-prim-color-grey500: #7F7F7F !default;
$mds-prim-color-grey600: #666666 !default;
$mds-prim-color-grey700: #4D4D4D !default;
$mds-prim-color-grey800: #333333 !default;
$mds-prim-color-grey900: #1A1A1A !default;
$mds-prim-color-grey950: #0D0D0D !default;
$mds-prim-color-black: #000000 !default;
$black-opacity60: rgba(0, 0, 0, 0.6) !default;
$black-opacity10: rgba(0, 0, 0, 0.1) !default;

// Status - Green
$status-color-green: #2E7D32 !default;
$status-color-green-darken: #92C18F !default;
$status-color-green-lighten: #E8F5E5 !default;

// Status - Orange
$status-color-orange: #F9A825 !default;
$status-color-orange-darken: #FCD286 !default;
$status-color-orange-lighten: #FFF1CE !default;
$status-color-orange-dark: #9E6100 !default;

// Status - Red
$status-color-red: #B71C1C !default;
$status-color-red40: rgba(183, 28, 28, 0.4) !default;
$status-color-red-2: #890404 !default;
$status-color-red-3: #690202 !default;
$status-color-red-darken: #DD8880 !default;
$status-color-red-lighten: #F4CEC2 !default;

// Status - Info
$status-color-info: #4271D6 !default;
$status-color-info-darken: #557FDA !default;
$status-color-info-lighten: #D9E3F7 !default;

// Secondary
$sec-color-generousgreen: #A4D65E !default;
$sec-color-purpleengaged: #582C83 !default;
$sec-color-lightblue: #1095F9 !default;
$sec-color-responsiblegrey: #53565A !default;

// Secondary - Dark blue
$sec-color-blue: #00205B !default;
$sec-color-blue-darken03: #072660 !default;
$sec-color-blue-darken02: #19386F !default;
$sec-color-blue-darken01: #4B6896 !default;
$sec-color-blue-lighten03: #94AED0 !default;
$sec-color-blue-lighten02: #ADC6E3 !default;
$sec-color-blue-lighten01: #C5DDF6 !default;

// Number variables (px)
$size-0: 0px;
$size-4: 4px;
$size-8: 8px;
$size-12: 12px;
$size-14: 14px;
$size-16: 16px;
$size-18: 18px;
$size-20: 20px;
$size-24: 24px;
$size-28: 28px;
$size-32: 32px;
$size-36: 36px;
$size-40: 40px;
$size-44: 44px;
$size-48: 48px;
$size-56: 56px;
$size-64: 64px;
$size-78: 78px;
$size-80: 80px; 